%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%vh-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

%v-center {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
%h-center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
